body {
    background-repeat: repeat;
    background-image: url('images/bookcase.jpeg');
    position: absolute;
    width: 100%;
    height: 100%
}

.wrap {
    padding-bottom: 100px;
    margin-bottom: 20px;
}

.page_container {
    position: relative;
    min-height: 100vh;
}

.footer {
    background-color: rgb(227, 253, 240);
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.footer a {
    text-decoration: none;
    color: black;
}

.about {
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    width:fit-content;
}

.about a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    transition: all 0.3sease-out;
}

.about a:hover {
    color: #c5cae9;
}
.image img{
    max-height: 300px;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block; 
}

.welcome_box {
    padding: 20px 0px;
    text-align: center;
    margin: 20px auto;
    width: fit-content;
    max-width: 95%;
    display: block;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.welcome_box p {
    padding: 0 20px;
}

.buttons {
    align-items: center;
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttons div{
    padding: 10px;
    background-color: rgb(101, 103, 221);
    border-radius: 8px;
    width:fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
}

.welcome_box a {
    color: #FFF;
    text-decoration: none;

    transition: all 0.3sease-out;
}

.welcome_box a:hover {
    color: #c5cae9;
}